body {
	background-image: url("images/back.gif");
	background-size: cover;
	background-color: #000066
}

h1 {
	font-family: "Times New Roman";
	font-style: italic;
	font-size: 300%;
	text-align: center;
	color: mediumorchid;
}

table, th, td {
	font-family: "Arial";
	font-size: 125%;
	border: 1px solid black;
	background-color: orchid;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #191970
}

p {
	font-weight: bold;
	font-size: 150%;
	color: #191970
}

.det{
	font-family: "Impact";
}
